@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 89, 24, 10;
	--background-rgb: 242, 202, 153;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 242, 202, 153;
		--background-rgb: 38, 38, 38;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
