@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: #353639;
	--background-rgb: #ffffff;
}

body {
	color: var(--foreground-rgb);
	background: var(--background-rgb);
}
